#topnav {
    font-size: 1em;
}

ul {
  width: 80%;
}

ul > li {
    min-width: 33%;
    padding: 3%;
}

#wave-top2, #wave-top, #wave-bottom {
    visibility: hidden;
}

.container {
    width: 100%;
}

#img1, #img2, #img3 {
    margin-top: 10%;
}

#big-img {
    background-position: 0;
}

#text {
    line-height: 0.7em;
}

#cop {
    padding-left: 5%;
}