body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  font-size: 12px;
  color: #581555;
  width: 100%;
  line-height: 1.5em;
}

header {
  position: relative;
  width: 100%;
  padding: 0 0;
  background: linear-gradient(to right top, #fb6b81, #9134ec);
}

#wave-top2 {
  position: absolute;
  width: 400px;
  right: 0;
  top: 330px

}

#wave-top {
  position: absolute;
  width: 550px;
  right: -50px;
  top: 420px;
}

#wave-bottom {
  position: absolute;
  width: 550px;
  left: 0;
  top: 330px;
}

#topnav {
  width: 100%;
  text-align: center;
  font-size: 24px;
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  display: inline-block;
}

ul > li {
  float: left;
  min-width: 150px;
  height: 40px;
}

ul a {
  text-decoration: none;
  color: #581555;
}

ul a:hover {
  color: white;
  transition: all 0.3s ease-in-out;
}

#title {
  font-size: 116px;
  color: white;
  text-align: center;
  padding-bottom: 0;
}

#subtitle {
  font-size: 21px;
  color: white;
  text-align: center;
  margin-top: -20px;
  padding-top: 0px;
  padding-bottom: 200px;
}

h1 {
  font-size: 27px;
}

.more {
  font-size: 15px;
  border-style: solid;
  border-color: #D03EC9;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.more a {
  text-decoration: none;
  color: #581555;
}

.more:hover {
  background-color: #D03EC9;
}

.more:hover a {
  color: white;
}

.container {
  width: 930px;
}

.small-img {
  width: 409px;
  padding: 30px;
  box-sizing: border-box;
}

#text1 {
  float: left;
  width: 409px;
  padding-left: 50px;
  position: relative;
}

#text1:before {
  position: absolute;
  content: "1.";
  top: 100px;
  left: -50px;
  color: #E27CD5;
  font-size: 200px;
  font-weight: 600;
  opacity: 0.7;
}

#img1 {
  float: left;
  margin-right: -50px;
  margin-bottom: 20px;
}

#img2 {
  float: left;
  margin-left: -30px;
}

#text2 {
  float: left;
  width: 409px;
  padding-left: 40px;
  padding-top: 40px;
  margin-left: 40px;
  position: relative;
}

#text2::before {
  position: absolute;
  content: "2.";
  top: 125px;
  left: -50px;
  color: #F98098;
  font-size: 200px;
  font-weight: 600;
  opacity: 0.7;
}

.clear {
  clear: both;
}

#subcontainer {
  height: 400px;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}

#big-img {
  width: 100%;
  height: 100%;
  background-image: url("../wecreate-assets/img/fullbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -485px;
  transform: rotate(180deg);
}

#text {
  position: absolute;
  left: 370px;
  top: 120px;
  color: white;
  font-size: 73px;
  font-weight: bold;
}

#text3 {
  position: relative;
  float: left;
  width: 409px;
  padding-left: 70px;
}

#text3::before {
  position: absolute;
  content: "3.";
  top: 90px;
  left: -50px;
  color: #E32CB8;
  font-size: 200px;
  font-weight: 600;
  opacity: 0.7;
}

#img3 {
  float: left;
  width: 409px;
}

#hello {
  float: left;
  font-size: 63px;
  font-weight: 600;
  width: 409px;
  padding-top: 30px;
}

#message {
  float: left;
  width: 409px;
  padding-top: 20px;
  padding-left: 30px;
}

#cop {
  clear: both;
}

footer {
  width: 100%;
  padding: 0 0;
  margin-top: 40px;
  background: linear-gradient(to right top, #fb6b81, #9134ec);
}

input {
  display: block;
  font-size: 12px;
  color: #581555;
  background: none;
  border: none;
  padding-top: 10px;
  border-bottom: 2px solid #581555;
  margin-bottom: 15px;
  width: 369px;
}

textarea {
  display: block;
  font-size: 12px;
  color: #581555;
  background: none;
  border: 2px solid #581555;
  padding: 10px;
  margin: 20px 0 20px 0;
  min-height: 150px; 
  width: 369px;
  border-bottom: 1px solid #581555;
}

#send {
  background: none;
  font-size: 12px;
  width: 130px;
  height: 25px;
  border: 1px solid white;
  transition: all 0.3s ease-in-out;
}

#send a {
  text-decoration: none;
  color: white;
}

#send:hover {
  background: white;
}

#send:hover a {
  color: #581555;
  font-weight: bold;
}


























