#topnav {
    font-size: 0.8em;
}

#wave-top2, #wave-top, #wave-bottom {
    visibility: hidden;
}

ul {
  width: 80%;
}

ul > li {
    min-width: 33%;
    padding: 3%;
}

h1 {
    font-size: 4.1em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 2em;
}

.container {
    width: 100%;
}

#text1, #text2, #text3, #hello, #message {
    position: static;
    float: none;
    width: 100%;
    padding-left: 5%;
}

#text1:before, #text2:before, #text3:before {
    visibility: hidden;
}

#img1, #img2, #img3 {
  width: 100%;
}

#big-img {
    background-position: 0;
}

#text {
    line-height: 0.7em;
}

#cop {
    padding-left: 5%;
}









